
{% extends 'base.html.twig' %}
{% block navbar %}
                <ul class="nav navbar-nav pull-right">
                    <li> <a href="{{ path('generateOrdersPDF') }}"> Download PDF<span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ path('generateOrderCSV')}}"> Download CSV</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#addOrderModal">Add Order</a></li> 
                </ul>
{% endblock %}
{% block body %}
    <div class="container orderTable" style="box-shadow:1px 1px 20px 1px black; margin-top:100px;" >
   {% include 'AppBundle::default/orders_table.html.twig' %}
    </div>
    <!-- Modals Here -->
    <div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="addOrderModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Order</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>



{% endblock %}    

